<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="app.css">
    <title>Document</title>
</head>
<body>
    <div id="app" >
        <div class="marketplace">           
            <course-css v-if="course.type==='course-css'" 
                v-for="course in courses"  
                :key="course.id"
                :title="course.title" 
                :subtitle="course.subtitle" 
                :description="course.description"
                @add="addToCart"            
            ></course-css>   
            
            <course-JS v-if="course.type==='course-js'"
            v-for="course in courses"  
            :key="course.id"
            :title="course.title" 
            :subtitle="course.subtitle" 
            :description="course.description"
            @add="addToCart"            
        ></course-JS>     
        </div>

        <ul class="cart">
            <li v-for="course in cart">{{ course.title }} {{ course.months }} meses</li>
        </ul>
    </div>

</body>
</html>